.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/* HEADER STYLES*/

.header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
  }
  
.logo {
    width: 250px;
    margin-left: 80px;
}

nav ul {
    margin-right: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: #5c5c5c;
    font-weight: 700;
    position: relative;
}

nav ul li a:hover {
    color: #5c5c5c;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: #ff4500;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

/* MAIN SECTION STYLES*/

.main {
    background-image: url(/Company_Home_Page_Flexbox/main-background.svg);
    height: 90vh;
}

.welcome-banner {
    margin: 250px 80px 0 80px;
}

.main h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 9rem;
    text-align: left;
    font-weight: 800;
    background-color: white;
    padding: 0 40px;
}

.main h2 {
    font-size: 4rem;
    text-align: left;
    font-weight: 400;
    background-color: white;
    padding: 0 40px;
}

.bold {
    font-weight: 800;
}

.main h3 {
    font-size: 2.8rem;
    text-align: left;
    font-weight: 400;
    background-color: white;
    padding: 0 40px;
}

/* ABOUT SECTION STYLES*/

.about {
    background-color: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.text h3 {
    font-weight: 200;
    font-size: 2.5rem;
}


.highlight {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}

.text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 3rem;
}

.image {
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(/Company_Home_Page_Flexbox/pexels-cottonbro-5530250.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image img {
    height: 100%;
    width: 100%;
}

/* STAFF SECTION STYLES*/

.staff {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-content: center;
}

.people {
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    justify-content: center;

}

.people img {
    width: 300px;
    border-radius: 50%;
    margin: 20px 0;
}

.map {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(/Company_Home_Page_Flexbox/map.PNG);
    background-size: cover;
    background-position: center;
}


/* GALLERY SECTION STYLES*/

.gallery {
    background-color: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.gallery-child-1{
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(/Company_Home_Page_Flexbox/pexels-cottonbro-5532667.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-child-2{
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(/Company_Home_Page_Flexbox/pexels-cottonbro-5530262.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.gallery-child img {
    height: 100%;
    width: 100%;
}


/* FOOTER STYLES*/

.footer {
    height: 25vh;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    justify-content: space-around;
    align-content: center;
  }

.copyright {
      width: 32%;
      background-color: lightgray;
  }

.copyright h2 {
      color: #5c5c5c;
      font-weight: 800;
  }

.copyright > img {
      width: 400px;
      padding: 20px 0;
  }

.footer-navigation {
      width: 32%;
      align-content: center;
  }

.footer ul {
      list-style: none;
      margin: 0 auto;
      height: auto;
  }

.footer ul li {
      padding: 12px;
      margin: 10px;
  }

  .footer ul li a {
    text-decoration: none;
    color: #5c5c5c;
    font-size: 1.5rem;
    position: relative;
    font-weight: 800;
  }

.footer ul li a:hover {
    color: #424242;
}

.footer ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background-color: #ff4500;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.footer ul li a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }


.social {
    width: 32%;
}


