/*GLOBAL STYLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/*NAVBAR GLOBAL STYLES*/

.navbar {
    font-size: 1.2rem;
    background-image: linear-gradient(90deg, rgba(0,190,134,1) 0%, rgba(138,135,240,1) 50%, rgba(78,30,211,1) 100%);
    opacity: 0.95;
    padding-bottom: 10px;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 5%;
}

.nav-links, 
.logo {
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.nav-links:hover {
    font-weight: 600;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 600;
}


/*NAVBAR FOR MOBILE STYLES*/

.navbar-toggle {
    position: absolute;
    top: 15px;
    right: 40px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    z-index: 3;
}

.main-nav {
    list-style: none;
    display: none;
}

.active {
    display: block;
}

/*NAVBAR DESKTOP STYLES*/

@media screen and (min-width: 960px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        z-index: 3;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

   .navbar-toggle {
       display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/*VIDEO LANDING PAGE STYLES*/

body {
    font-family: "Montserrat", Arial, sans-serif;
}

section {
    max-width: 57%;
    margin: auto;
    text-align: center;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(165, 165, 165);
    position: absolute;
    opacity: 0.3;
}

.landing-text {
    z-index: 2;
}

.landing-text h1 {
    font-weight: 700;
    font-size: 5rem;
}

.landing-text h3 {
    font-weight: 400;
    font-size: 2.5rem;
    padding-bottom: 3%;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    background-color: rgb(78, 30, 211);
    padding: 1% 3%;
    border-radius: 30px;
}

.btn:hover {
    background: rgba(0,190,134,1);
}

/*ABOUT US SECTION STYLES*/

.flex-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

.flex-item-text {
    width: 50%;
    text-align: justify;
    position: relative;
}

.flex-item-text h1 {
    margin-top: 200px;
    margin-left: 50px;
    font-size: 5rem;
    display: inline-block;
    padding: 10px 30px;
    background-image: linear-gradient(90deg, rgba(0,190,134,1) 0%, rgba(138,135,240,1) 50%, rgba(78,30,211,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
}

.flex-item-text p {
    font-size: 1.5rem;
    margin-top: 30px;
    display: inline-block;
    padding: 10px 40px;
}

#img-1 {
    width: 50%;
    background-image: url(./Assets/pexels-roman-pohorecki-23385.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* EVENTS SECTION STYLES*/

#img-2 {
    width: 50%;
    background-image: url(./Assets/pexels-jarod-lovekamp-2404444.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

table {
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 3.125rem ;
    margin-top: 2rem;
}

td {
    border-bottom: 1px solid rgba(78,30,211,1);
}

tr {
    height: 120px;
}

.btn-small {
    background: rgba(78,30,211,1);
    padding: 10% 20%;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.btn-small:hover {
    background: rgba(0,190,134,1);
    color: #fff;
}
